/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  color: #5a5a5a;
  }

  .bkgColor{
    background-color: #777;
  }
  
  .hide{
    display: none;
  }

  .show{
    display: block;
  }
  /* CUSTOMIZE THE NAVBAR
  -------------------------------------------------- */
  
  /* Special class on .container surrounding .navbar, used for positioning it into place. */
  .navbar-wrapper {
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    z-index: 20;
    margin-top: 20px;
  }
  
  /* Flip around the padding for proper display in narrow viewports */
  .navbar-wrapper > .container {
    padding-right: 0;
    padding-left: 0;
  }
  .navbar-wrapper .navbar {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar .container {
    width: auto;
  }
  
  
  /* CUSTOMIZE THE CAROUSEL
  -------------------------------------------------- */
  
  /* Carousel base class */
  .carousel {
    height: 500px;
  }
  /* Since positioning the image, we need to help out the caption */
  .carousel-caption {
    z-index: 10;
  }
  
  /* Declare heights because of positioning of img element */
  .carousel .item {
    height: inherit;
    background-color: rgba(212, 198, 204, 0.932);
  }
  .carousel-inner > .item > img {
    position: relative;
    top: 0;
    left: 0;
    widows: 100%;
    height: 100%;
  }
  .carousel-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
  }

  .carousel > .carousel-inner > .item > img{
    width: fit-content;
    height: 100%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .addShoppingCartBtn{
    border-radius: 5px;
    background-color: rgba(212, 198, 204, 0.932);
    color: black;
  }
  
  .carousel-indicators{
    position: absolute;
    bottom: 0px;
    left: 50%;
    z-index: 15;
    width: 60%;
    padding-left: 0;
    margin-left: -30%;
    text-align: center;
    list-style: none;
  }

  
  
  
  /* RESPONSIVE CSS
  -------------------------------------------------- */
  @media (max-width: 768px) {
    /* Navbar positioning foo */
    .navbar-wrapper {
      margin-top: 20px;
    }
    .navbar-wrapper .container {
      padding-right: 15px;
      padding-left: 15px;
    }
    .navbar-wrapper .navbar {
      padding-right: 0;
      padding-left: 0;
    }
  
    /* The navbar becomes detached from the top, so we round the corners */
    .navbar-wrapper .navbar {
      border-radius: 4px;
    }
  
    /* Bump up size of carousel content */
    .carousel-caption p {
      margin-bottom: 20px;
      font-size: 21px;
      line-height: 1.4;
    }
  
    .featurette-heading {
      font-size: 50px;
    }
    .carousel-indicators{
      display: none;
    }
  }
  
  @media (min-width: 992px) {
    .featurette-heading {
      margin-top: 120px;
    }
  }
  