body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #777;
  color: #777;
}

.bkgColor{
  background-color: #777;
}



  
  /* CUSTOMIZE THE NAVBAR
  -------------------------------------------------- */
  
  /* Special class on .container surrounding .navbar, used for positioning it into place. */
  .navbar-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 20;
    margin-bottom: 15px;
  }
  
  /* Flip around the padding for proper display in narrow viewports */
  .navbar-wrapper > .container {
    padding-right: 0;
    padding-left: 0;
  }
  .navbar-wrapper .navbar {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar .container {
    width: auto;
  }
  
  /* RESPONSIVE CSS
  -------------------------------------------------- */
  
  @media (min-width: 768px) {
    /* Navbar positioning foo */
    .navbar-wrapper {
      margin-top: 20px;
    }
    
    .navbar-wrapper .navbar {
      padding-right: 0;
      padding-left: 0;
    }
    /* The navbar becomes detached from the top, so we round the corners */
    .navbar-wrapper .navbar {
      border-radius: 4px;
    }
  }
.form-signin {
  max-width: 330px;
  padding: 50px 0;
  margin: 0 auto;
  background-color: #777;
  border-color: #ffffff;
}
.form-signin .form-signin-heading{
  margin-bottom: 15px;
}

.form-signin .form-control {
  position: relative;
  margin:5px 0;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
  background-color: rgba(209, 238, 142, 0.822);
}

form > section button{
  margin-top:10px;
  background-color: aquamarine;
}

